<!-- <h1 class="title">Форма обратной связи</h1>
<form action="" class="form">
  <label for="" class="label label-first"
    >Имя
    <input type="text" class="input input-first" name="name" />
  </label>
  <label for="" class="label"
    >Фамилия
    <input type="text" class="input input-second" name="surname" />
  </label>
  <label for="" class="label"
    >Телефон
    <input type="text" class="input input-third" name="phone" />
  </label>
  <button type="submit" class="btn">Отправить</button>
</form>

<p class="info">Исходящий текст</p>

<button type="button" class="js-btn">Кнопка</button> -->

<!-- <form action="submit" class="search">
  <label>
    Город
    <input type="text" name="query"
  /></label>

  <select name="days">
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="7">7</option>
  </select>
  <button type="submit" class="btn">Показать</button>
</form>
<ul class="list"></ul>

<ul class="newList"></ul>
<!-- <p class="hiddenText" hidden="true">Больше картинок нет</p> -->
<!-- <div class="guard"></div>
<!-- <button type="button" class="newBtn">Загрузить еще</button> -->
<!-- -->

<!-- <div class="video"> -->
<!-- <div class="video__placeholder">Контент</div>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/6g_Vk2A7AK0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe> -->
<!-- </div> -->
<!-- <h1 class="title">Technologies:</h1>
<ul class="list">
  <!-- bvhjdbhv -->
<!-- <li class="first">First item</li>
  <li>Second item</li>
  <li>Third item</li>
  <li>Fourth item</li>
  <li>Fifth item</li>
</ul> -->

<!-- <input type="text" class="input" value="dghfjdsgbjvs" />
<p class="text-js text node-text">Hello world</p>

<a href="bcdvcjs" class="link-js">Link</a>

<button type="button" class="js-btn">Enter</button> -->

<!-- <ul class="js-list list"></ul>
<ul class="js-secondList" id="1"></ul>
<ul id="categories">
  <li class="item">
    <h2>Animals</h2>
    <ul>
      <li>Cat</li>
      <li>Hamster</li>
      <li>Horse</li>
      <li>Parrot</li>
    </ul>
  </li>
  <li class="item">
    <h2>Products</h2>
    <ul>
      <li>Bread</li>
      <li>Prasley</li>
      <li>Cheese</li>
    </ul>
  </li>
  <li class="item">
    <h2>Technologies</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node.js</li>
    </ul>
  </li>
</ul>

<ul id="ingredients"></ul>

<ul class="gallery"></ul>

<form class="register-form" autocomplete="off">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Register</button>
</form>

<p>Selected option text: <span class="text-output">none</span></p>

<p></p>
<p>Selected option value: <span class="value-output">none</span></p>

<p>
  <select class="pizza-select">
    <option value="four_meats">Four Meats</option>
    <option value="royal_cheese">Royal Cheese</option>
    <option value="vegetarian">Vegetarian</option>
    <option value="smoked_salmon">Smoked Salmon</option>
  </select>
</p>

<input type="text" class="text-input" />
<p>Text field value: <span class="output"></span></p>

<div id="counter">
  <button type="button" data-action="decrement">-1</button>
  <span id="value">0</span>
  <button type="button" data-action="increment">+1</button>
</div>

<input type="text" id="name-input" placeholder="Please enter your name" />
<h1>Hello, <span id="name-output">Anonymous</span>!</h1>

<input
  type="text"
  id="validation-input"
  data-length="6"
  placeholder="Please enter 6 symbols"
/>
<p></p>
<input id="font-size-control" type="range" min="16" max="96" />
<br />
<span id="text">Abracadabra!</span>

<div class="widget">
  <p>Background color: <span class="color">-</span></p>
  <button type="button" class="change-color">Change color</button>
</div>
<input type="text" class="input__color" />


<form class="form">
  <label>
    Enter your color
    <input type="text" name="input" class="input_cl" />
  </label>
  <button type="submit" class="btn_sub">Change background</button>
</form>

<div></div> -->
<ul class="list">
  <li class="item"><a class="link" href="./second.html">Крестики-нолики</a></li>
  <li class="item"><a class="link" href="./third.html">Галерея</a></li>
  <li class="item">
    <a class="link" href="./counterPrice.html">Калькулятор стоимости</a>
  </li>
  <li class="item">
    <a class="link" href="./gallery.html">Галерея 2</a>
  </li>
  <li class="item">
    <a class="link" href="./btn.html">Кнопка</a>
     <li class="item">
    <a class="link" href="./cars.html">Автомобили</a>
  </li>
       <li class="item">
    <a class="link" href="./cart.html">Корзина товаров</a>
  </li>
  <li class="item">
    <a class="link" href="./casino.html">Казино</a>
  </li>
  </li>
</ul>

<div class="backdrop"></div>
<button type="button" class="btn-open">Open modal</button>
<div class="modal">
  <p class="modal-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
    quibusdam.
  </p>
  <button type="button" class="btn-close">Close</button>
</div>

<div class="wrapper">
  <form class="js-form">
    <label class="js-label">
      Name
      <input
        type="text"
        class="js-input"
        name="name"
        placeholder="Enter your name"
      />
    </label>
    <label class="js-label">
      Surname
      <input
        type="text"
        class="js-input"
        name="surname"
        placeholder="Enter your surname"
      />
    </label>
    <label class="js-label">
      Email
      <input
        type="email"
        class="js-input"
        name="email"
        placeholder="Enter your email"
      />
    </label>
    <label class="js-label">
      Phone number
      <input
        type="text"
        class="js-input"
        name="phone"
        placeholder="Enter your phone number"
      />
    </label>
    <label class="js-label">
      Position
      <input
        type="text"
        class="js-input"
        name="position"
        placeholder="Enter your position"
      />
    </label>
    <button type="submit" class="js-btn">Send</button>
  </form>
  <div>
    <table class="transaction-history">
      <thead class="js-thead">
        <tr>
          <th class="js-th">Name</th>
          <th class="js-th">Surname</th>
          <th class="js-th">Email</th>
          <th class="js-th">Phone number</th>
          <th class="js-th">Position</th>
        </tr>
      </thead>
      <tbody class="js-tbody">
        <tr class="js-tr"></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <p class="text">
    Наступна зустріч радників лідерів держав щодо реалізації Формули миру
    президента Володимира Зеленського відбудеться незабаром у Саудівській
    Аравії. Джерело: керівник Офісу президента Андрій Єрмак у виступі на
    засіданні Конгресу місцевих та регіональних влад при президентові України,
    що відбулося в Івано-Франківську, повідомляє сайт президента Деталі: За
    словами Єрмака, з метою реалізації Формули миру українська сторона
    використовує трифазну структуру. Перша фаза – це зустрічі з послами,
    акредитованими в Україні, які присвячені докладному розгляду кожного з
    пунктів Формули.
  </p>
  <button type="button" class="btn">Show less</button>
</div>

<div id="controls">
  <input type="number" min="1" max="100" step="1" class="input" />
  <button type="button" data-create>Create</button>
  <button type="button" data-destroy>Destroy</button>
</div>

<div id="boxes"></div>
