/* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    color: aliceblue;
    width: 48px;
    height: 24px;
    font-size: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(234, 229, 229, 0.946);

} */

/* .btn:hover {
    background-color: aquamarine;
    color: blue;
    cursor: pointer;
}

.btn:active {
    background-color: antiquewhite;
    box-shadow: none;
} */

/* .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 12px;
    align-items: center;
} */

/* .my-btn {
    margin-left: 12px;
} */

.wrapper {
    margin-top: 12px;
}

.color {
    list-style: none;
}

ul,
p {
    margin: 0;
}

.text {
    margin-top: 12px;
    margin-left: 32px;
}