h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
span {
    margin: 0;
    padding: 0;
}



body {
    padding: 24px;
    padding-bottom: 64px;
}

.wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 108px;
    margin-bottom: 24px;
    letter-spacing: -12px;


}


.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 600px;
    height: 44px;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 20px;
}

.input::placeholder {
    margin-left: 12px;
}

.btn {
    width: 200px;
    height: 44px;
    border-radius: 12px;
    margin-top: 24px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
}

.btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.left_top {
    top: 5%;
    left: 5.5%;
    transform: translate(0, 0);
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
    width: 600px;
}

.min {
    font-size: 36px;
    letter-spacing: 0;
    display: flex;
}

.input_width {
    width: 450px;
}

.btn_hide {
    display: none;
}

.list {
    margin-top: 84px;
    list-style: none;
    margin-left: 36px;
    width: 600px;

}

.item_link {
    color: black;
    text-decoration: none;
    overflow: hidden;
    word-break: break-all;
}



.item {
    margin-bottom: 32px;
    width: 640px;
}

.item_title {
    margin-bottom: 8px;
    margin-top: 8px;
    color: #1a0dab;
    font-weight: 400;
    width: 640px;
    word-break: keep-all;
}

.item_title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item_text {
    color: rgba(0, 0, 0, 0.8);
}

.link_wrapper {
    width: 650px;
}

.g,
.little_g {
    color: #4285f4;
}

.first_o {
    color: #ea4335;
}

.second_o {
    color: #fbbc04;
}

.l {
    color: #34a853;
}

.e {
    color: #ea4335;
}

.link_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.link {
    color: #4285f4;
    text-decoration: none;
    font-size: 16px;
}

.link_div {
    display: none;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_bottom {
    font-size: 36px;
    letter-spacing: -3px;
}

.flex {
    display: flex;
}